@font-face{
  font-family: 'SFProDisplay-Light', sans-serif;
  src: url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'SFProDisplay-Regular', sans-serif;
  src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'SFProDisplay-Medium', sans-serif;
  src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'SFProDisplay-Semibold', sans-serif;
  src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'SFProDisplay-Bold', sans-serif;
  src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
       url('../fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
