html{
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body{
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #fff;
  font-size: 17px;
  line-height: 150%;

  @extend %ubuntu-light;
}

*, *::before, *::after{
  box-sizing: inherit;
}

img{

}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-size: inherit;
}

.container{
  max-width: 1270px;
  paddign: 0 15px;
  margin: 0 auto;
}

.page-section{
  height: 100vh;
  max-height: 100vh!important;
  position: relative;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.title{
  @extend %sf-regular;
  font-size: 44px;
  line-height: 53px;

  padding-top: 100px;
  padding-left: 25px;
  margin-bottom: 55px;

}

.scroll__btn{
  padding: 13px 0 30px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
