@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  position: fixed;

  top: 30px;
  left: 0;
  right: 0;

  z-index: 10;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;

    @extend %ubuntu-medium;
  }

  &__btn{
    color: #fff;
    background-color: transparent;
    padding: 6px 18px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    text-transform: uppercase;
    transition: all .3s;

    cursor: pointer;

    &:hover{
      background-color: #fff;
      color: #000;
    }
  }

  &__phone{
    font-size: 16px;
    line-height: 18px;
    @extend %ubuntu-bold;
  }
}

.menu{
  &__list-item{
    display: inline-block;

    & + .menu__list-item{
      padding-left: 20px;
    }
  }

}

.top{
  background-image: url('../img/top-bg.jpg');

  &__inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title{
    font-size: 96px;
    line-height: 115px;
    @extend %sf-semibold;
    margin-bottom: 25px;

  }

  &__text{
    margin: 25px 0 35px;
    max-width: 325px;
  }

  &__social-item{
    display: inline-block;
    margin: 0 25px;
  }

  &__social-link{
    opacity: .5;
    transition: all .3s;
    &:hover{
      opacity: 1;
    }
  }
}

.products{
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;

  }

  &__text{
    max-width: 440px;

    p{
      margin-bottom: 30px;
    }
  }

  &__slider-box{
    position: relative;
    padding-top: 110px;
  }

  &__slider-text{
    width: 285px;
    position: absolute;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    @extend %ubuntu-medium;
    bottom: 30px;
    left: -150px;
    z-index: 5;
  }

  &__slider{
    max-width: 560px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 560px;
      height: 276px;
      border: 4px solid #fff;
      top: -15px;
      right: -17px;
    }
  }
}

.slider-btn{
  padding: 16px 26px;
  border: none;
  background-color: #fff;
  position: absolute;
  bottom: -55px;
  right: 0;
  z-index: 5;

  cursor: pointer;

  svg{
    stroke: #000;
  }
  &__left{
    right: 60px;
  }

  &.slick-disabled{
    background-color: #000;
    svg{
      stroke: #fff;
    }
  }
}

.benefits{
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;

    &:nth-child(even){
      margin-left: 40px;
      transform: translateY( 17px);
    }
  }
  &__num{
    line-height: 41px;
    font-size: 36px;
    @extend %ubuntu-bold;
    margin-right: 10px;
  }
  &__img{
    position: relative;
    margin-right: 32px;
    z-index: 10;
    &::before{
      content: "";
      position: absolute;
      width: 193px;
      height: 128px;
      border: 4px solid #fff;
      right: -12px;
      top: -12px;
      z-index: -1;
    }
  }

  &__info{
    max-width: 300px;
  }

  &__info-title{
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
    width: 135px;
    margin-bottom: 10px;
    }

  &__info-text{
    font-size: 15px;
    line-height: 18px;
  }
}

.specification{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item{
  }

  &__box{
    width: 280px;
    position: relative;
    margin-top: 10px;

    &::before{
      content: "";
      position: absolute;
    }
  }

  &__box-2{
    margin-top: 140px;
  }
  &__box-4{
    margin-top: 160px;
  }

  &__box-1::before{
    right: -140px;
    top: 16px;
    width: 230px;
    height: 114px;
    background-image: url('../img/pointer-1.svg');
  }
  &__box-2::before{
    right: -360px;
    top: -50px;
    width: 346px;
    height: 82px;
    background-image: url('../img/pointer-2.svg');
  }
  &__box-3::before{
    left: -300px;
    top: 20px;
    width: 258px;
    height: 103px;
    background-image: url('../img/pointer-3.svg');
  }
  &__box-4::before{
    top: -60px;
    left: -172px;
    width: 124px;
    height: 89px;
    background-image: url('../img/pointer-4.svg');
  }

  &__box-title{
    font-size: 21px;
    line-height: 28px;
    @extend %ubuntu-bold;
    margin-bottom: 10px;
  }

  &__box-text{
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
  }
}

.questions{
  &__items{
    max-width: 760px;
    padding-bottom: 15px;
  }

  &__item{
    max-width: 690px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, .3);
    color: rgba(#fff, .8);
  }

  &__item--active .questions__item-text{
    display: block;
    height: auto;
    padding-bottom: 75px;
  }

  &__item--active .questions__item-title::before{
    transform: rotate(180deg);
  }

  &__item-title{
    line-height: 28px;
    font-size: 21px;
    @extend %ubuntu-medium;
    padding: 20px 10px 24px 40px;
    position: relative;
    cursor: pointer;
    &::before{
      content: url('../img/accordion-arrow.svg');
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 67px;
      right: -72px;
      top: 0;
      background-color: #fff;
    }
  }

  &__item-text{
    transition-duration: .4s;
    padding: 0 50px 0 50px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    overflow: hidden;
    text-overflow: hidden;

    margin: 0;
    height: 0;
  }
}

.contacts{
  &__inner{
    display: flex;
    padding-left: 25px;
    justify-content: space-between;
  }

  &__info{
    width: 240px;
    margin-right: 60px;
  }

  &__info-box{
    margin-bottom: 30px;
  }

  &__info-title{
    line-height: 24px;
    font-size: 21px;
    @extend %ubuntu-bold;
    margin: 0 0 13px;
  }

  &__info-num,
  &__info-email{
    font-size: 15px;
    line-height: 18px;

  }
  &__info-email:hover{
    text-decoration: underline;
  }

  &__form{
    width: 570px;
    margin-top: 106px;
  }

  &__form-title{
    line-height: 24px;
    font-size: 21px;
    @extend %ubuntu-bold;
    margin: 0 0 13px;
  }

  &__form-text{
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 12px;
  }

  &__form-input{

  }

  &__form-line{
    display: flex;
    justify-content: space-between;
  }

  &__form-input{
    width: 49%;
  }
  &__form-input,
  &__form-textarea{
    background: rgba(0, 0, 0, .5);
    padding: 15px;
    border: none;
    @extend %ubuntu-regular;
    font-size: 13px;
    line-height: 15px;
    resize: none;
    color: #fff;
    &::placeholder{
      color: rgba(#fff, .4);
    }

  }

  &__form-textarea{
    margin-top: 10px;
    min-height: 144px;
    width: 100%;
  }

  &__form-btn{
    background: none;
    color: #fff;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    @extend %ubuntu-bold;
    cursor: pointer;
    text-transform: uppercase;
    padding: 9px 15px;
    transition-duration: .3s;
  }

  &__form-btn:hover{
    background-color: #fff;
    color: #000;
  }

  &__social-list{
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__social-item{
    margin: 15px 0;
    opacity: .5;
    transition-duration: .3s;
  }

  &__social-item:hover{
    opacity: 1;
  }
}

.footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  text-align: right;
  &__copy{
    font-size: 13px;
    line-height: 15px;
    @extend %ubuntu-bold;
  }
}

@import "media";
